#scoreboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 3px solid #118ab2;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
}

.frame {
    border: 1px solid #ccc;
    text-align: center;
}

.frame-header {
    background-color: #118ab2;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.frame-scores {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.frame-score {
    width: 50%;
    border-left: 1px solid #ccc;
    line-height: 30px;
}

.frame-total {
    background-color: #f0f8ff;
    padding: 5px;
    font-weight: bold;
    min-height: 30px;
}

#bowling-lane {
    width: 200px;
    height: 600px;
    background-color: #f5deb3; /* Wheat */
    border: 5px solid #8b4513; /* SaddleBrown */
    margin: 20px auto;
    position: relative;
    perspective: 800px;
}

#pins-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.pin {
    width: 10px;
    height: 30px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px 5px 0 0;
    position: absolute;
}

#bowling-ball {
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#controls {
    margin-top: 20px;
}

#throw-controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 10px;
}

.control-group {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #118ab2;
}

.control-group input[type="range"] {
    width: 100%;
}

#celebration-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    background-color: rgba(239, 71, 111, 0.85);
    padding: 30px 60px;
    border-radius: 25px;
    font-size: 5em;
    font-weight: bold;
    z-index: 1000;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#celebration-animation.show {
    transform: translate(-50%, -50%) scale(1);
}

.hidden {
    display: none;
}

@media (max-width: 850px) {
    #scoreboard {
        max-width: 100%;
        font-size: 0.8em;
    }

    .frame-scores {
        height: 25px;
    }

    .frame-score {
        line-height: 25px;
    }
}


@media (max-width: 600px) {
    #bowling-lane {
        width: 150px;
        height: 450px;
    }

    #throw-button {
        font-size: 1.5em;
    }
}
