.ranking-container {
    background-color: #fff;
    border: 4px dashed #06d6a0;
    border-radius: 15px;
    padding: 20px;
    margin: 30px 0;
}

h2 {
    color: #118ab2;
    font-size: 2.5em;
    margin-top: 0;
}

ol {
    list-style-type: none;
    padding: 0;
    font-size: 1.6em;
}

li {
    background-color: #f0f8ff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

li .player-name {
    color: #ef476f;
}

li .player-score {
    color: #333;
}

#play-again-button {
    background-color: #ffd166;
    color: #333;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.8em;
    font-family: 'Gaegu', cursive;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s;
}

#play-again-button:hover {
    transform: scale(1.1);
}
